NEXT_PUBLIC_SANITY_PROJECT_ID="your-project-id"
NEXT_PUBLIC_SANITY_DATASET="your-dataset"
GITHUB_COMMENT_REPO_ID="Your-repo-id"
GITHUB_COMMENT_CATEGORY_ID="Your-category-id"
NEXT_PUBLIC_GOOGLE_ANALYTICS='your-google-analytics'
NEXT_PUBLIC_SANITY_READ_TOKEN="your-sanity-read-only-token"
